{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {{ filters.form.media }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Courses</title>
</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'review:search' %}" class="highlight">Reviews</a></li>
                <li><a href="{% url 'review:create' %}" class="highlight">Add new Review</a></li>
                <li><a href="{% url 'review:createcourse' %}" class="highlight">Add new Course</a></li>
                <li><a href="{% url 'review:createprof' %}" class="highlight">Add new Prof</a></li>
                <li><a href="{% url 'accounts:profile' %}" class="highlight">Profile</a></li>
                <li>
                    <form class="highlight" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                {% if user.is_superuser %}
                <li><a class="highlight">(Logged in as Admin)</a> </li>
                {% endif %}
                {% else %}
                <li><a href="{% url 'accounts:login' %}" class="highlight">Login</a></li>
                <li><a href="{% url 'accounts:signup' %}" class="highlight">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</body>

</html>