{% extends 'base_layout.html' %}

{% block content %}

<h1>Hi there!</h1>
<h2>Welcome to your profile page</h2>
<hr>
<h2>This area contains the reviews entered by you: </h2>
<hr>
<div class="reviews">
    {% for review in reviews  %}
    {% if review.author == request.user %}
    <div class="review">
        <h2>Course Code: {{review.code}} </h2>
        <h3>Prof Name: {{review.prof}}</h3>
        <p>Comments: {{review.comment}} </p>
        <p>Difficulty: {{review.difficulty}}/10</p>
        <p>Content quality: {{review.contentquality}}/10</p>
        <p>Added on: {{review.date}} </p>
        <p class="author">Posted as:
            {% if review.anonymous %}
            Anonymous
            {% else %}
            {{review.author.username}}
            {% endif %}
        </p>
        
    </div>
    {% endif %}
    {% endfor  %}
</div>

{% endblock %}