{% extends 'base_layout.html' %}

{% block content %}

<h1>Hi there {{request.user}} ! </h1>
<h2>Welcome to your profile page</h2>
<h2 style="color:firebrick;">Your ratings as of now are:
    {% for obj in ratings %}
    {% if obj.user == request.user %}
    {{ obj.userlikes }}
    {% endif %}
    {% endfor %}
</h2>
<hr>
<h2>Following are the warnings you have received from the admin: </h2>
<hr>
<div class="warnings">
    {% for warning in warnings  %}
    {% if warning.user == request.user %}
    <div class="warning">
        <p style="font-weight: bold;">Message: </p>
        <p>{{warning.message}}</p>
        <p>sent on: {{ warning.date }}</p>
    </div>
    {% endif %}
    {% endfor  %}
</div>
<hr>
<h2>This area contains the reviews entered by you: </h2>
<hr>
<div class="reviews">
    {% for review in reviews  %}
    {% if review.author == request.user %}
    <div class="review">
        <h2>Course Code: {{review.code}} </h2>
        <h3>Prof Name: {{review.prof}}</h3>
        <p>Comments: {{review.comment}} </p>
        <p>Difficulty: {{review.difficulty}}/10</p>
        <p>Content quality: {{review.contentquality}}/10</p>
        <p>Added on: {{review.date}} </p>
        <p class="author">Posted as:
            {% if review.anonymous %}
            Anonymous
            {% else %}
            {{review.author.username}}
            {% endif %}
        </p>

    </div>
    {% endif %}
    {% endfor  %}
</div>

{% endblock %}