{% extends 'base_layout.html' %}

{% block content %}

<form method="get" class="searchtext">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>
<div class="reviews">
    {% for obj in filter.qs %}
    <!-- {{ obj.code }} - {{ obj.prof }} - {{ obj.comment }}<br /> -->
    <div class="review">
        <h2>Course Code: {{obj.code}} </h2>
        <h3>Prof Name: {{obj.prof}}</h3>
        <p>Comments: {{obj.comment}} </p>
        <p>Difficulty: {{obj.difficulty}}/10</p>
        <p>Content quality: {{obj.contentquality}}/10</p>
        <p>Added on: {{obj.date}} </p>
        {% if obj.anonymous %}
        <p> Anonymous </p>
        {% else %}
        <p> Added by {{obj.author.username }}</p>
        <p> Ratings:
            {% for obj2 in ratings %}
            {% if obj2.user == obj.author %}
            {{ obj2.userlikes }}
            {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        {% if not obj.anonymous %}
        <form action="{% url 'review:like_post' %}" method="POST">
            {% csrf_token %}

            {% if request.user in obj.likes.all and not request.user in obj.dislikes.all %}
            <button type="submit" name="post_id" value="{{ obj.id }}"> Remove Like </button>
            {% elif not request.user in obj.likes.all and not request.user in obj.dislike.all %}
            <button type="submit" name="post_id" value="{{ obj.id }}"> Like </button>
            {% else %}
            {% endif %}
        </form>
        {% endif %}
        <form action="{% url 'review:post_report' %}" method="POST">
            {% csrf_token %}

            <button type="submit" name="post_report" value="{{ obj.id }}"> Report </button>
        </form>
    </div>

    {% endfor %}
</div>
{% endblock %}